[submodule "dotbot"]
    path = dotbot
    url = https://github.com/anishathalye/dotbot
[submodule "zsh/pure"]
    path = zsh/pure
    url = https://github.com/sindresorhus/pure.git
[submodule "zsh/zsh-syntax-highlighting"]
    path = zsh/zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "config/mpv/scripts/25ea7ae77b30af959be0"]
    path = config/mpv/scripts/25ea7ae77b30af959be0
    url = https://gist.github.com/25ea7ae77b30af959be0.git
[submodule "dotbot-yay"]
    path = dotbot-yay
    url = https://github.com/alexwh/dotbot-yay
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "config/mpv/scripts/mpv-youtube-chat"]
	path = config/mpv/scripts/mpv-youtube-chat
	url = https://github.com/BanchouBoo/mpv-youtube-chat
