vim/swap
vim/undo
vim/.netrwhist

config/mpv/watch_later
config/mpv/shaders

config/ranger/history
config/ranger/bookmarks
config/ranger/tagged

config/sxiv/tags

# don't force enabling services
config/systemd/user/default.target.wants

weechat/logs
weechat/weechat.log
weechat/irc.conf
weechat/perl
weechat/python
weechat/script

bin/scpupload.sh

docker/.buildNodeID

ipython/profile_default/history.sqlite
