[Unit]
Description=Run startup programs that depend on network state
After=network-online.target multi-user.target

[Service]
Type=forking
ExecStart=/home/alex/scripts/slowstartup.sh

[Install]
WantedBy=default.target
